<h2>Login Page</h2>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Submit">
</form>
<p> </p>
<p>If you don't have an account yet, <a href="/signup">Sign Up!</a></p>