<h2><%= "#{@user.username}'s Profile" %></h2>
<h3>Total Words: <%=@wordcounts.map { |wc| wc.count }.sum%></h3>
<p></p>
    <% @wordcounts.each do |wcount| %>
    <p><%="#{wcount.month}/#{wcount.day}/#{wcount.year} — #{wcount.count}"%> <% if Helpers.current_user(session) == @user %>
     — <a href="/counts/<%=wcount.id%>/edit">Edit?</a>
        <% end %><br></p>
    <% end %>