<h3>Sign Up</h3>
<p>Usernames and email addresses must be unique. No fields can be empty.</p>
<p><%= flash[:error] %> </p>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="email" name="email" placeholder="Email:">
  <input type="submit" value="Sign Up">
</form>
<p></p>
<p>Have an account already? <a href="/login">Log In</a> here!</p>