<p><%= "#{@wordcount.month}/#{@wordcount.day}/#{@wordcount.year}" %></p>
<p><%= "#{@wordcount.count}" %></p>

<form action="/counts/<%=@wordcount.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    Count: <input type="text" name="count"><br>
    Year: <input type="text" name="year"><br>
    Month: <input type="text" name="month"><br>
    Day: <input type="text" name="day">
    <%# binding.pry%>
    <p><input type="submit" value="submit"></p>
</form>
