<p><%= "#{@wordcount.month}/#{@wordcount.day}/#{@wordcount.year}" %></p>
<p><%= "#{@wordcount.count}" %></p>
    <% #binding.pry%>
<form action="/counts/<%=@wordcount.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    Count: <input type="text" id="count" name="count"><br>
    Year: <input type="text" id="year" name="year"><br>
    Month: <input type="text" id="month" name="month"><br>
    Day: <input type="text" id="day" name="day">

    <p><input type="submit" value="Edit"></p>
</form>

<form action="/counts/<%=@wordcount.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <p><input type="submit" value="Delete"></p>
