    <% @wordcounts.each do |wcount| %>
    <p><%="#{wcount.month}/#{wcount.day}/#{wcount.year} — #{wcount.count} —  "%><a href="/users/<%=wcount.user.slug%>"><%="#{wcount.user.username}"%></a><br></p>
    <% end %>