<h2>WriteUpWriteDown</h2>

<p>Welcome to WriteUpWriteDown! You can use this website to keep track of your writing wordcount per day, for personal reference and for challenges like NaNoWriMo!</p>

<p>Please <a href="/login">Log In</a> to use our site and begin tracking! If you don't have an account yet, <a href="/signup">Sign Up!</a></p>